<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.phonegap.example"
    version   = "1.0.0">

<name>Hellow Word - Marchena</name>

<description>
My first app in PhonGap.
</description>

<author href="https://www.araconsultoriaysoluciones.com" email="ing.jmarchena@gmail.com">
Jesus Ernesto Marchena Sanchez
</author>

</widget>
